In [1]:
import pandas

In [2]:
cities = pandas.read_csv("Data/500_Cities__Local_Data_for_Better_Health__2019_release_20240314.zip")
SVI = pandas.read_csv("Data/SVI_2020_US_county.csv")

In [8]:
SVI.head(5)

,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,...,EP_ASIAN,MP_ASIAN,EP_AIAN,MP_AIAN,EP_NHPI,MP_NHPI,EP_TWOMORE,MP_TWOMORE,EP_OTHERRACE,MP_OTHERRACE
0,1,Alabama,AL,1001,Autauga,1001,"Autauga County, Alabama",594.455838,55639,0,...,1.2,0.3,0.3,0.2,0.0,0.1,2.0,0.7,0.2,0.3
1,1,Alabama,AL,1003,Baldwin,1003,"Baldwin County, Alabama",1589.835294,218289,0,...,0.9,0.2,0.6,0.2,0.0,0.1,1.9,0.4,0.3,0.2
2,1,Alabama,AL,1005,Barbour,1005,"Barbour County, Alabama",885.007618,25026,0,...,0.5,0.1,0.3,0.3,0.0,0.1,1.3,0.6,0.6,0.4
3,1,Alabama,AL,1007,Bibb,1007,"Bibb County, Alabama",622.469288,22374,0,...,0.3,0.4,0.1,0.1,0.0,0.2,0.4,0.3,0.0,0.2
4,1,Alabama,AL,1009,Blount,1009,"Blount County, Alabama",644.890375,57755,0,...,0.4,0.1,0.1,0.1,0.1,0.1,1.8,0.3,0.3,0.4

In [11]:
cities.head(5)

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
0,2017,CA,California,Hawthorne,Census Tract,BRFSS,Health Outcomes,0632548-06037602504,Arthritis among adults aged >=18 Years,%,...,15.2,NaN,NaN,4407,"(33.905547923, -118.337332298)",HLTHOUT,ARTHRITIS,632548.0,6.037603e+09,Arthritis
1,2017,CA,California,Hawthorne,City,BRFSS,Unhealthy Behaviors,0632548,Current smoking among adults aged >=18 Years,%,...,15.9,NaN,NaN,84293,"(33.914667701, -118.347667728)",UNHBEH,CSMOKING,632548.0,NaN,Current Smoking
2,2017,CA,California,Hayward,City,BRFSS,Health Outcomes,0633000,Coronary heart disease among adults aged >=18 ...,%,...,4.8,NaN,NaN,144186,"(37.6329591551, -122.077051051)",HLTHOUT,CHD,633000.0,NaN,Coronary Heart Disease
3,2017,CA,California,Hayward,City,BRFSS,Unhealthy Behaviors,0633000,Obesity among adults aged >=18 Years,%,...,24.4,NaN,NaN,144186,"(37.6329591551, -122.077051051)",UNHBEH,OBESITY,633000.0,NaN,Obesity
4,2017,CA,California,Hemet,City,BRFSS,Prevention,0633182,Cholesterol screening among adults aged >=18 Y...,%,...,78.3,NaN,NaN,78657,"(33.7352277311, -116.994605005)",PREVENT,CHOLSCREEN,633182.0,NaN,Cholesterol Screening

In [22]:
cities.Year.unique()

array([2017, 2016])

In [16]:
list(cities.columns)

['Year',
 'StateAbbr',
 'StateDesc',
 'CityName',
 'GeographicLevel',
 'DataSource',
 'Category',
 'UniqueID',
 'Measure',
 'Data_Value_Unit',
 'DataValueTypeID',
 'Data_Value_Type',
 'Data_Value',
 'Low_Confidence_Limit',
 'High_Confidence_Limit',
 'Data_Value_Footnote_Symbol',
 'Data_Value_Footnote',
 'PopulationCount',
 'GeoLocation',
 'CategoryID',
 'MeasureId',
 'CityFIPS',
 'TractFIPS',
 'Short_Question_Text']

In [21]:
cities.loc[1:5,['Measure',
 'Data_Value_Unit',
 'DataValueTypeID',
 'Data_Value_Type',
 'Data_Value',
 'Low_Confidence_Limit',
 'High_Confidence_Limit']]

,Measure,Data_Value_Unit,DataValueTypeID,Data_Value_Type,Data_Value,Low_Confidence_Limit,High_Confidence_Limit
1,Current smoking among adults aged >=18 Years,%,CrdPrv,Crude prevalence,15.4,15.0,15.9
2,Coronary heart disease among adults aged >=18 ...,%,AgeAdjPrv,Age-adjusted prevalence,4.8,4.7,4.8
3,Obesity among adults aged >=18 Years,%,CrdPrv,Crude prevalence,24.2,24.1,24.4
4,Cholesterol screening among adults aged >=18 Y...,%,AgeAdjPrv,Age-adjusted prevalence,78.0,77.6,78.3
5,Arthritis among adults aged >=18 Years,%,CrdPrv,Crude prevalence,22.0,21.1,22.8

In [12]:
#Retrieve Health Outcome Data
Health_Outcomes = cities.loc[cities['Category'] == "Health Outcomes"]

#Retrieve Cornorary Heart Disease Data
Heart_Disease = Health_Outcomes.loc[Health_Outcomes['Measure'] == "Coronary heart disease among adults aged >=18 Years"]

In [13]:
Health_Outcomes.Measure.unique()

array(['Arthritis among adults aged >=18 Years',
       'Coronary heart disease among adults aged >=18 Years',
       'Chronic obstructive pulmonary disease among adults aged >=18 Years',
       'Diagnosed diabetes among adults aged >=18 Years',
       'All teeth lost among adults aged >=65 Years',
       'Current asthma among adults aged >=18 Years',
       'Chronic kidney disease among adults aged >=18 Years',
       'Stroke among adults aged >=18 Years',
       'High blood pressure among adults aged >=18 Years',
       'Cancer (excluding skin cancer) among adults aged >=18 Years',
       'Physical health not good for >=14 days among adults aged >=18 Years',
       'Mental health not good for >=14 days among adults aged >=18 Years',
       'High cholesterol among adults aged >=18 Years who have been screened in the past 5 Years'],
      dtype=object)

In [22]:
#All datarows containing High_Confidence_Limit above >10% for Coronary Heart Disease.
Heart_Disease_above_10 = Heart_Disease.loc[Heart_Disease['High_Confidence_Limit'] > 10]

In [25]:
#Cities in Minnesota with Coronary Heart Disease above >10%
Heart_Disease_above_10.loc[Heart_Disease_above_10['StateAbbr'] == "MN"]

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
423285,2017,MN,Minnesota,Duluth,Census Tract,BRFSS,Health Outcomes,2717000-27137001900,Coronary heart disease among adults aged >=18 ...,%,...,13.2,NaN,NaN,1917,"(46.7826461978, -92.0978740236)",HLTHOUT,CHD,2717000.0,2.713700e+10,Coronary Heart Disease
428572,2017,MN,Minnesota,Minneapolis,Census Tract,BRFSS,Health Outcomes,2743000-27053005901,Coronary heart disease among adults aged >=18 ...,%,...,11.1,NaN,NaN,3166,"(44.9675719672, -93.2599954075)",HLTHOUT,CHD,2743000.0,2.705301e+10,Coronary Heart Disease
435505,2017,MN,Minnesota,Rochester,Census Tract,BRFSS,Health Outcomes,2754880-27109000100,Coronary heart disease among adults aged >=18 ...,%,...,19.3,NaN,NaN,1385,"(44.0224337438, -92.4635361742)",HLTHOUT,CHD,2754880.0,2.710900e+10,Coronary Heart Disease